@charset "UTF-8";

#q1 { grid-area: q1; }
#q2 { grid-area: q2; }
#q3 { grid-area: q3; }
#q4 { grid-area: q4; }
#q5 { grid-area: q5; }
#q6 { grid-area: q6; }
#q7 { grid-area: q7; }
#q8 { grid-area: q8; }
#q9 { grid-area: q9; }

* {
  padding: 0px;
  margin: 0px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #ffd2707c;
}

#container {
  margin: auto;
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
}

#titulo {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
  align-self: center;
  margin-top: 10px;
}

#jogo {
  display: grid;
  grid-template-areas: "q1 q2 q3" "q4 q5 q6" "q7 q8 q9";
  grid-gap: 10px;
  align-self: flex-start;
  width: 635px;
}

#jogo div {
  width: 200px;
  height: 200px;
  background-color: #ffcf99;
  border: 2px solid black;
}

#jogo div:hover {
  background-color: #fabd78;
  cursor: pointer;
}

img[src="images/jogador1.png"],  img[src="images/jogador2.png"]{
  width: 200px;
}

#tutorial {
  display: flex;
  flex-flow: column wrap;
  box-sizing: border-box;
  background-color: white;
  width: 350px;
  border-radius: 20px;
  padding: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#tutorial h1 {
  color: #eeae00;
  text-align: center;
}

#tutorial p {
  font-size: 20px;
  margin: 10px 0px;
  text-align: justify;
}

#info {
  height: 50%;
}

#info #jogadorStart {
  text-align: center;
  font-size: 24px;
}

#placar {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 49%;
  align-self: center;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid black;
  border-radius: 30px;
}

#placar button {
  background-color: #eeae00;
  color: white;
  width: 75%;
  padding: 10px;
  border: none;
  border-radius: 15px;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#placar p {
  font-size: 22px;
}

.jogador1 {
  color: blue;
}

.jogador2 {
  color: red;
}

@media screen and (min-width: 0px) and (max-width: 700px) {
  #container {
    flex-direction: column;
    height: 100%;
  }

  #jogo {
    grid-gap: 3px;
    width: 318px;
    align-self: center;
  }

  #jogo div {
    width: 100px;
    height: 100px;
  }

  #tutorial {
    align-self: center;
    width: 400px;
    height: 250px;
  }

  #tutorial h1 {
    font-size: 20px;
  }
  
  #tutorial p {
    font-size: 13px;
  }

  #info {
    width: 48%;
  }

  #info #jogadorStart {
    font-size: 16px;
  }

  #placar {
    width: 45%;
    height: 100%;
  }

  #placar {
    border-radius: 20px;
  }
  
  #placar button {
    padding: 5px;
    font-size: 14px;
  }

  #placar p, #placar .jogador1, .jogador2 {
    font-size: 16px;
  }

  img[src="images/jogador1.png"], img[src="images/jogador2.png"] {
    width: 100px;
  }
}

@media screen and (min-width: 700px) and (max-width: 1100px) {
  #container {
    flex-direction: column;
    height: 90%;
  }

  #jogo {
    grid-gap: 5px;
    width: 397px;
    align-self: center;
  }

  #jogo div {
    width: 125px;
    height: 125px;
  }

  #tutorial {
    align-self: center;
    width: 450px;
    height: 300px;
  }

  #tutorial h1 {
    font-size: 24px;
  }
  
  #tutorial p {
    font-size: 16px;
  }

  #info {
    width: 48%;
  }

  #info #jogadorStart {
    font-size: 18px;
  }

  #placar {
    width: 45%;
    height: 100%;
  }

  #placar {
    border-radius: 20px;
  }
  
  #placar button {
    padding: 8px;
    font-size: 16px;
  }

  #placar p, #placar .jogador1, .jogador2 {
    font-size: 18px;
  }

  img[src="images/jogador1.png"], img[src="images/jogador2.png"] {
    width: 125px;
  }
}

@media screen and (min-width: 1800px) {
  #container {
    width: 75%;
  }

  #info #jogadorStart {
    font-size: 25px;
  }

  #tutorial {
    width: 400px;
  }
}