@charset "UTF-8";

#q1 { grid-area: q1; }
#q2 { grid-area: q2; }
#q3 { grid-area: q3; }
#q4 { grid-area: q4; }
#q5 { grid-area: q5; }
#q6 { grid-area: q6; }
#q7 { grid-area: q7; }
#q8 { grid-area: q8; }
#q9 { grid-area: q9; }

* {
  padding: 0px;
  margin: 0px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #ffd2707c;
}

#container {
  margin: auto;
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100%;
}

#titulo {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
  align-self: center;
  margin-top: 10px;
}

#jogo {
  display: grid;
  grid-template-areas: "q1 q2 q3" "q4 q5 q6" "q7 q8 q9";
  grid-gap: 3px;
  align-self: center;
}

#jogo div {
  width: 100px;
  height: 100px;
  background-color: #ffcf99;
  border: 2px solid black;
}

#jogo div:hover {
  background-color: #fabd78;
  cursor: pointer;
}

img[src="images/jogador1.png"],  img[src="images/jogador2.png"]{
  width: 200px;
}

#tutorial {
  display: flex;
  flex-flow: column wrap;
  box-sizing: border-box;
  background-color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  align-self: center;
  border-radius: 20px;
  padding: 15px;
  width: 400px;
  height: 250px;
}

#tutorial h1 {
  font-size: 20px;
  color: #eeae00;
  text-align: center;
}

#tutorial p {
  font-size: 13px;
  margin: 10px 0px;
  text-align: justify;
}

#info {
  width: 48%;
  height: 50%;
}

#info #jogadorStart {
  text-align: center;
  font-size: 16px;
}

#placar {
  display: flex;
  flex-flow: column;
  width: 45%;
  height: 100%;
  align-self: center;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid black;
  border-radius: 20px;
}

#placar button {
  background-color: #eeae00;
  color: white;
  width: 75%;
  padding: 5px;
  font-size: 14px;
  border: none;
  border-radius: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#placar p, #placar .jogador1, .jogador2 {
  font-size: 16px;
}

.jogador1 {
  color: blue;
}

.jogador2 {
  color: red;
}

img[src="images/jogador1.png"], img[src="images/jogador2.png"] {
  width: 100px;
}

@media screen and (min-width: 700px) {
  #jogo {
    grid-gap: 5px;
  }

  #jogo div {
    width: 150px;
    height: 150px;
  }

  #tutorial {
    width: 450px;
    height: 300px;
  }

  #tutorial h1 {
    font-size: 24px;
  }
  
  #tutorial p {
    font-size: 16px;
  }

  #info #jogadorStart {
    font-size: 18px;
  }
  
  #placar button {
    padding: 8px;
    font-size: 16px;
  }

  #placar p, #placar .jogador1, .jogador2 {
    font-size: 18px;
  }

  img[src="images/jogador1.png"], img[src="images/jogador2.png"] {
    width: 150px;
  }
}

@media screen and (min-width: 1100px) {
  #container {
    flex-direction: row;
  }

  #jogo div {
    width: 200px;
    height: 200px;
  }

  #tutorial {
    flex-flow: row wrap;
    width: 350px;
    height: 602px;
  }

  #tutorial h1 {
    font-size: 30px;
  }
  
  #tutorial p {
    font-size: 18px;
  }

  #info, #placar {
    width: 100%;
    height: 50%;
  }

  #info #jogadorStart {
    font-size: 24px;
  }

  #placar p, #placar .jogador1, .jogador2 {
    font-size: 24px;
  }

  #placar button {
    padding: 10px;
    font-size: 20px;
  }

  img[src="images/jogador1.png"], img[src="images/jogador2.png"] {
    width: 200px;
  }
}

@media screen and (min-width: 1800px) {
  #container {
    width: 75%;
  }

  #tutorial {
    width: 400px;
  }
}