@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');

* {
  padding: 0px;
  margin: 0px;
  font-family: 'Happy Monkey', cursive;
}

main {
  width: 100%;
  height: 95vh;
  background-image: linear-gradient(to bottom, #f5c93b, #eea00f);
}

header {
  height: 20vh;
  background: url(../images/churrasco.jpg) center no-repeat;
  background-size: cover;
}

#conteudo {
  margin: auto;
  width: 400px;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

h1 {
  font-size: 2em;
  color: orangered;
  margin-bottom: 25px;
}

input {
  font-size: 20px;
  border: none;
  background-color: #fde3b3;
  border-radius: 10px;
}

input[type=number] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

input[type=button] {
  padding: 10px;
  font-weight: bold;
}

input[type=button]:hover {
  cursor: pointer;
  background-color: white;
}

input[type=number]:focus {
  background-color: white;
}

#resultado {
  margin-top: 30px;
  background-color: #fde3b3;
  border-radius: 10px;
}

#resultado p {
  font-size: 1.1em;
  margin: auto;
  padding: 5px;
  width: 300px;
  line-height: 1.1em;
}

span {
  color: orangered;
}

footer {
  width: 100%;
  text-align: center;
}

footer p {
  font-size: 1em;
  margin-top: 5px;
}

@media screen and (min-width: 768px) {
  header {
    height: 30vh;
  }

  #conteudo {
    width: 550px;
  }

  h1 {
    font-size: 2em;
    margin: 20px 0px 40px 0px;
  }

  input {
    font-size: 20px;
  }

  input[type=number] {
    margin-bottom: 20px;
  }

  input[placeholder] {
    text-align: center;
  }

  input[type=button] {
    margin-top: 10px;
  }

  #resultado p {
    font-size: 1.1em;
    line-height: 1.3em;
  }

  #resultado p#obs {
    width: 400px;
  }
  
  footer p{
    font-size: 1.2em;
    margin-top: 10px;
  }
}