@charset "UTF-8";

html {
  overflow-y: hidden;
  background-image: linear-gradient(to right, #528ebb, #4442a8);
}

div {
  padding-top: 50px;
  margin: auto;
  height: 300px;
  text-align: center;
  }
    
img {
  width: 300px;
}
    
h1 {
  font-size: 20px;
  color: white;
  margin-bottom: 20px;
  font-weight: normal;
}
    
h1#texto {
  font-size: 25px;
}
    
a {
  color: white;
  text-decoration: underline;
}

@media screen and (min-width: 600px) {
  div {
    padding-top: 50px;
    margin: auto;
    height: 530px;
    text-align: center;
  }

  img {
    width: 550px;
    transition-duration: 0.5s;
  }

  img:hover {
    width: 600px;
  }

  h1#texto {
    font-size: 40px;
  }
}