@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
 }

body {
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Righteous', sans-serif;
}

#container {
  width: 350px;
  height: 440px;
  gap: 10px;
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
}

.cartas {
  width: 80px;
  height: 80px;
  border-radius: 20px;
  background-color: #0c8aff;
  box-shadow: 10px 10px 10px #00000073;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform .5s;
}

.cartas p {
  font-size: 30px;
  font-weight: bolder;
}

.cartas img {
  display: none;
}

.cartas:hover {
  cursor: pointer;
}

.cartas img {
  width: 70px;
  transform: rotateY(180deg);
}

.virarCarta {
  background-color: black;
  transform: rotateY(180deg);
}

.exibir img {
  display: block;
}

.exibir p {
  display: none;
}

#gameOver {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000d0;
  color: white;
  font-size: 23px;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#gameOver button {
  padding: 15px;
  font-size: 18px;
  border-radius: 15px;
  margin-top: 20px;
  border: none;
  color: white;
  background-color: #0c8aff;
}

@media screen and (min-width: 768px) {
  body {
    height: 98vh;
    align-content: center;
  }

  #container {
    width: 645px;
    height: 820px;
    gap: 15px;
    padding: 0px;
  }

  .cartas {
    width: 150px;
    height: 150px;
  }

  .cartas p {
    font-size: 40px;
  }

  .cartas img {
    width: 96px;
  }

  #gameOver {
    font-size: 40px;
  }
  
  #gameOver button {
    padding: 20px;
    font-size: 25px;
  }
}