@charset "UTF-8";

@keyframes virarCarta {
  100% {background-color: black}
}

body {
  height: 98vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

#container {
  width: 390px;
  height: 490px;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
}

.casa {
  width: 90px;
  height: 90px;
  border-radius: 20px;
  background-color: #0084ff;
  box-shadow: 8px 8px 20px #000000c2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.casa p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  font-weight: bolder;
}

.casa:hover {
  cursor: pointer;
}

.cartaVirada {
  animation-name: virarCarta;
  animation-duration: 500ms; 
  animation-fill-mode: forwards;
}

@media screen and (min-width: 768px) {
  body {
    align-content: center;
  }

  #container {
    width: 645px;
    height: 820px;
    gap: 15px;
  }

  .casa {
    width: 150px;
    height: 150px;
  }

  .casa p {
    font-size: 40px;
  }
}