@charset "UTF-8";

body {
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#container {
  width: 350px;
  height: 440px;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
}

.cartas {
  width: 80px;
  height: 80px;
  border-radius: 20px;
  background-color: #0084ff;
  box-shadow: 8px 8px 20px #000000c2;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 500ms;
}

.cartas p {
  font-size: 30px;
  font-weight: bolder;
}

.cartas img {
  display: none;
}

.cartas:hover {
  cursor: pointer;
}

.cartas img {
  width: 70px;
}

.exibir {
  background-color: black;
}

.exibir img {
  display: block;
}

.exibir p {
  display: none;
}

@media screen and (min-width: 768px) {
  body {
    height: 98vh;
    align-content: center;
  }

  #container {
    width: 645px;
    height: 820px;
    gap: 15px;
  }

  .cartas {
    width: 150px;
    height: 150px;
  }

  .cartas p {
    font-size: 40px;
  }

  .cartas img {
    width: 96px;
  }
}